<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
        var availableTags = [];

        function extractLast( term ) {
          return split( term ).pop();
        }

        function split( val ) {
          return val.split( /,\s*/ );
        }

        $.getJSON("/tags.json", function(data) {
          $(data).each(function(index, item) {
            availableTags.push(item.tag.name);
          });
        });

        $( "#bookmark_tag_list" )
          // don't navigate away from the field on tab when selecting an item
          .bind( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
                $( this ).data( "autocomplete" ).menu.active ) {
              event.preventDefault();
            }
          })
          .autocomplete({
            minLength: 0,
            source: function( request, response ) {
              // delegate back to autocomplete, but extract the last term
              response( $.ui.autocomplete.filter(
                availableTags, extractLast( request.term ) ) );
            },
            focus: function() {
              // prevent value inserted on focus
              return false;
            },
            select: function( event, ui ) {
              var terms = split( this.value );
              // remove the current input
              terms.pop();
              // add the selected item
              terms.push( ui.item.value );
              // add placeholder to get the comma-and-space at the end
              terms.push( "" );
              this.value = terms.join( ", " );
              return false;
            }
          });
      });
  </script>
<% end %>

<%= form_for bookmark do |f| %>
  <p>
    <%= f.label :url, "URL" %><em>*</em><br/>
    <%= f.text_field :url, style: "width: 350px" %>
    <%= f.error_message_on :url, prepend_text: "URL " %>
  </p>
  <p>
    <%= f.label :title %><em>*</em><br/>
    <%= f.text_field :title, style: "width: 350px" %>
    <%= f.error_message_on :title, prepend_text: "Title " %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description, size: "35x3" %>
  </p>
  <p>
    <%= f.label :tag_list, "Tags" %><br/>
    <%= f.text_field :tag_list, style: "width: 350px" %>
  </p>

  <%= hidden_field_tag :source, params[:source] %>

  <p>
    <%= submit_tag "Save", style: "width: 75px" %>
    <span class="weak">&nbsp;|&nbsp;</span>
    <%= link_to "Back to my bookmarks", bookmarks_url, class: "link-button" %>
  </p>
<% end %>
