<% content_for :sidebar do %>
  <h2>Bookmarklet</h2>

  <p class="weak">
    Drag the button below to your bookmarks
    toolbar and saving bookmarks will become
    much easier.
  </p>
  <p class="weak">
    The next time you're on a web page that you
    would like to bookmark, simply click this link
    and this form will be filled out automatically!
  </p>
  <p>
    <%= link_to "Add Bookmark", bookmarklet_url, :class => "bookmarklet" %>
  </p>
<% end %>

<h2>Add Bookmark</h2>

<%= form_for @bookmark do |f| %>
  <p>
    <%= f.label :url, "URL" %><em>*</em><br/>
    <%= f.text_field :url, :style => "width: 350px" %>
  </p>
  <p>
    <%= f.label :title %><em>*</em><br/>
    <%= f.text_field :title, :style => "width: 350px" %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description, :size => "47x3" %>
  </p>
  <p>
    <%= f.label :tag_list, "Tags" %><br/>
    <%= f.text_field :tag_list, :style => "width: 350px" %>
  </p>

  <%= hidden_field_tag :source, params[:source] %>

  <p>
    <%= submit_tag "Save", :style => "width: 75px" %>
    <span class="weak">&nbsp;|&nbsp;</span>
    <%= link_to "Go to my bookmarks", bookmarks_url, :class => "link-button" %>
  </p>
<% end %>
