<div class="grid_9">
  <div id="bookmarks-menu">
    <%= link_to "+ Add Bookmark", new_bookmark_url, :id => "add-bookmark-link" %>
  </div>

  <div id="bookmarks-list">
    <%= render @bookmarks %>
  </div>

  <div id="pagination">
    <%= link_to_next_page %>
  </div>
</div>

<div id="sidebar" class="grid_3">
  <h2>Search</h2>
  <div class="form-container">
    <%= form_tag bookmarks_url, options_for_remote_script.merge(:method => :get) do %>
      <%= text_field_tag "search", params[:search], :placeholder => "Search by title or tag..." %>
    <% end %>
  </div>

  <h2>Tags</h2>

  <ul class="tag-list">
    <% @tags.each do |tag| %>
      <li>
        <%= link_to_remote_script bookmarks_url(:tag => tag.name) do %>
          <%= tag_name_with_count_for(tag) %>
        <% end %>
      </li>
    <% end %>

    <li>
      <%= link_to_remote_script "Show All", bookmarks_url %>
    </li>
  </ul>
</div>
