<% content_for(:sidebar) do %>
  <h2>Tags</h2>

  <ul class="tag-list">
    <% @tags.each do |tag| %>
      <li><%= link_to "#{tag.name} (#{tag.count})", bookmarks_url(:tag => tag.name) %></li>
    <% end %>

    <li id="show-all-tag">
      <%= link_to "Show All", bookmarks_url %>
    </li>
  </ul>
<% end %>

<div id="bookmarks-menu">
  <%= link_to "+ Add Bookmark", new_bookmark_url, :id => "add-bookmark-link" %>
</div>

<div id="bookmarks-list">
  <% @bookmarks.each do |bookmark| %>
    <div class="bookmark">
      <div class="title">
        <%= link_to bookmark.title, bookmark.url %>
      </div>
      <div class="tags weak">
        <%= bookmark.tag_list %>
      </div>
      <div class="actions">
        <%= link_to "Edit", edit_bookmark_url(bookmark), :class => "edit-bookmark-link" %>
        <span class="pipe">|</span>
        <%= link_to "Delete", bookmark_url(bookmark), :method => :delete, :class => "delete-bookmark-link" %>
      </div>
    </div>
  <% end %>
</div>
