<div class="grid_9">
  <div id="bookmarks-menu">
    <%= link_to "+ Add Bookmark", new_bookmark_url, :id => "add-bookmark-link" %>
    <%= link_to "Import", import_bookmarks_url, :id => "import-bookmarks-link" %>
  </div>

  <div id="bookmarks-list">
    <%= render bookmarks %>
  </div>

  <div id="pagination">
    <%= will_paginate bookmarks %>
  </div>
</div>

<div class="grid_3">
  <div id="sidebar">
    <h2>Search</h2>
    <div class="form-container">
      <%= form_tag search_bookmarks_url, :method => :get do %>
        <%= text_field_tag "q", params[:q], :placeholder => "Search by title or tag..." %>
      <% end %>
    </div>

    <h2>Bookmarks</h2>
    <ul>
      <li>
        <%= link_to "Starred", starred_bookmarks_url %>
      </li>
      <li>
        <%= link_to "Show All", bookmarks_url %>
      </li>
    </ul>

    <h2>Tags</h2>
    <ul>
      <% tags.each do |tag| %>
        <li>
          <%= link_to tagged_bookmarks_url(:id => tag.name) do %>
            <%= tag_name_with_count_for(tag) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
