<div class="grid_9">
  <div id="bookmarks-menu">
    <%= link_to "+ Add Bookmark", new_bookmark_url, :id => "add-bookmark-link" %>
  </div>

  <div id="bookmarks-list">
    <%= render @bookmarks %>
  </div>

  <div id="pagination">
    <%= link_to_next_page %>
  </div>
</div>

<div id="sidebar" class="grid_3">
  <h2>Tags</h2>

  <ul class="tag-list">
    <% @tags.each do |tag| %>
      <li><%= link_to tag_name_with_count_for(tag), bookmarks_url(:tag => tag.name) %></li>
    <% end %>

    <li>
      <%= link_to "Show All", bookmarks_url %>
    </li>
  </ul>
</div>
