<div id="header">
  <%= link_to "Swiftmarks", root_url, :id => "logo" %>
  
  <div id="navigation">
    <% if current_user %>
      <span id="welcome-message"><%= current_user.email %></span>
      <span class="pipe">|</span>
      <%= link_to "Import", import_bookmarks_url %>
      <span class="pipe">|</span>
      <%= link_to 'Logout', user_session_path, :method => :delete, :id => "logout-link" %>
    <% else %>
      <span id="welcome-message">Not a member?</span>
      <%= link_to "Create an account", new_account_url %>
    <% end %>
  </div>
</div>
