<div class="grid_4 push_4 form-container">
  <h2>Sign In</h2>

  <%= form_for @user_session, :as => :user_session,  :url => user_session_path do |f| %>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email, :style => "width: 250px" %>
      <%= f.error_message_on :email, :prepend_text => "Email " %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password, :style => "width: 250px" %>
      <%= f.error_message_on :password, :prepend_text => "Password " %>
    </p>
    <p>
      <%= f.check_box :remember_me, :checked => true %>
      <%= f.label :remember_me %>
    </p>

    <%= f.submit "Sign In" %>
  <% end %>
</div>
