<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Swiftmarks</title>
  <%= stylesheet_link_tag "reset", "text", "960", "site", "jquery-ui-1.8.9" %>
  <%= javascript_include_tag "jquery-1.4.4.min", "jquery-ui-1.8.9.min", "rails", "application" %>
  <%= csrf_meta_tag %>

  <%= yield :head %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23542318-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div id="header" class="container_12">
    <div class="grid_3">
      <h1 id="logo">
        <%= link_to "Swiftmarks", root_path %>
      </h1>
    </div>

    <div class="grid_9">
      <div id="navigation">
        <% if current_user %>
          <span id="welcome-message"><%= current_user.email %></span>
          <span class="pipe">|</span>
          <%= link_to "Bookmarklet", bookmarklet_url %>
          <span class="pipe">|</span>
          <%= link_to "Account", edit_account_path %>
          <span class="pipe">|</span>
          <%= link_to 'Logout', user_session_path, :method => :delete, :id => "logout-link" %>
        <% else %>
          <%= link_to "Create an Account", new_account_path %> or
          <%= link_to "Sign In", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="content" class="container_12">
    <% flash.each do |key, message| %>
      <%= content_tag :div, message, :id => "flash-#{key}" %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
