<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Swiftmarks</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery-1.4.4.min.js", "rails.js", "jquery-ui-1.8.7.min.js" %>
  <%= csrf_meta_tag %>

  <%= yield :head %>
</head>
<body>
  <div id="header-container">
    <%= render "shared/header" %>
  </div>
  
  <div id="content-container">
    <div id="sidebar">
      <%= yield :sidebar %>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
