<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Swiftmarks</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body id="login">

  <div id="wrapper">
    <div id="header">
      <%= link_to "Swiftmarks", root_url, :id => "logo" %>
    </div>

    <div id="separator"></div>

    <div id="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
